---
layout: base.njk
title: Resources
---
<ul class="content-list">
{% for resource in collections.resources %}
  <li class="content-list-item">
    <a href="{{ environment.baseUrl }}{{ resource.url }}">
      {{ resource.data.title }}
    </a>
  </li>
{% endfor %}
</ul>
